<div>

    <button
            class="category-button"
            ng-click="goToCategoryState('All')"
            ng-class="{ active: currentCategory.currentCategory === 'All' }">
        All Categories
    </button>

    <button
            class="category-button"
            ng-repeat="category in categories"
            ng-click="goToCategoryState(category)"
            ng-class="{ active: currentCategory.currentCategory === category }">
        {{ category }}
    </button>

    <ui-view></ui-view>

</div>